body{
    font-family: 'Balsamiq Sans', cursive;
}

.male-item-style{
    background-color: #1b1833;
    color: #fff;
    padding: 15px;
    margin: 5px;
    border-radius: 15px;
}
.image-div{
    overflow: hidden;
}
.image-div img{
    width: 100%;
    border-radius: 15px;
}
